<h1 class="px-6 py-6">Stay up to date with Move and Groove!</h1>
<p class="px-6 pr-8">Welcome to the Media page for Move and Groove! Stay up to date with upcoming events, publications, and studies 💪</p></br>

<h2 class="px-6 pb-6">Featured articles:</h2>
<ul>
  <li class="px-6 pr-8">
    <a href="#">
      <strong>"Unleash Your Potential: How Your Fitness Companion Is Redefining Home Workouts"</strong><br>
      <em>Refinery29</em><br>
      Dive into this exclusive interview with our founders as they share their vision behind Move and Groove and how it's reshaping the fitness landscape.
    </a>
  </li></br>
  <li class="px-6 pr-8">
    <a href="#">
      <strong>"Mastering Mindfulness: The Key to Sustainable Fitness Goals"</strong><br>
      <em>Milly Magazine</em><br>
      Discover the importance of mindfulness in achieving lasting fitness results and learn how Move and Groove integrates mindfulness practices into its app.
    </a>
  </li></br>
  <li class="px-6 pr-8">
    <a href="#">
      <strong>"From Couch Potato to Fitness Pro: How Your Fitness Companion Transformed My Life"</strong><br>
      <em>The New Yorker</em><br>
      Join Sarah's incredible journey from sedentary lifestyle to fitness aficionado with the help of Move and Groove.
    </a>
  </li>
</ul><br><br>

<p class="px-6 pb-12 font-semibold"> 
  <a href="#" disabled>Contact us for media inquiries and partnership opportunities.</a> 
</p>
