<h1 class='px-6 py-6'>About us</h1>
<p class='px-6 pr-8'>
  In the heart of San Francisco, two fitness enthusiasts Theressa Malone and Sarah Mal set out on a mission to revolutionise the way people approach their health.
  Driven by their own struggles and triumphs, they poured their passion into creating <strong>Move and Groove.</strong></p></br>
<p class='px-6 pr-8'>
  Their goal? To empower individuals worldwide to take control of their fitness journey.
</p>
<p class='px-6 pb-12 pr-8 font-semibold'>
  Join us on this journey as we transform lives together, one workout at a time.
</p>